﻿@model BookLibrary.Models.Comment
@using Microsoft.AspNet.Identity
@{
    var comment = Model;
}

<article class="row comment">
    <div class="col-md-5 col-sm-12">
        <div class="panel panel-default arrow left">
            <div class="panel-body">
                @if (User.Identity.IsAuthenticated && comment.UserId == int.Parse(User.Identity.GetUserId()))
                {
                    <p class="pull-right btn" onclick="remove(@comment.Id)">X</p>
                }
                <header class="text-left">
                    <ul class="list-inline list-unstyled">
                        <li><div class="comment-user"><i class="fa fa-user"></i> <strong>@comment.UserName</strong></div></li>
                        <li><div class=""><i class="fa fa-comment"></i> #<span class="comment-id">@comment.Id</span></div></li>
                        <li><time class="comment-date" datetime=" @comment.CreationDate.ToString()"><i class="fa fa-clock-o"></i> @comment.CreationDate.ToShortDateString()  @comment.CreationDate.ToShortTimeString()</time></li>
                    </ul>
                </header>
                <div class="comment-post">
                    <p>
                        @comment.Text
                    </p>
                </div>

                @if (User.Identity.IsAuthenticated && comment.UserId == int.Parse(User.Identity.GetUserId()))
                {
                    <p class="text-right"><a href="#" class="btn btn-default btn-sm">Edit</a></p>
                }
            </div>
        </div>
    </div>
</article>
