﻿@model BookLibrary.Models.Search

<div class="container">
    <div class="search col-md-12">
        @using (Ajax.BeginForm("Search", "Book", new AjaxOptions
        {
            UpdateTargetId = "results",
            LoadingElementId = "loading",
            LoadingElementDuration = 100,
        }))
        {
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Query, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Query, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Query, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="loading" style="display:none; color:Red; font-weight:bold;">
    <p>Searching books...</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

