﻿@model IEnumerable<BookLibrary.Models.Book>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Books";
    var pageInfo = (PagedList.IPagedList)ViewBag.PageInfo;
}


@if (Model?.FirstOrDefault() == null)
{
    <h3>Empty list</h3>
    <p>There is no books...</p>
}
else
{
    foreach (var item in Model)
    {
    <div class="row">
        <div class="media col-md-12">
            <a class="pull-left" href="@Url.Content(@Url.Action("Book", "Book", new { id = item.Id }, "http"))">
                <img width="200" height="300" class="media-object" src="@Url.Content(item.Logo)">
            </a>
            <div class="media-body" style="padding-left: 10px;">
                <a href="@Url.Content(@Url.Action("Book", "Book", new { id = item.Id }, "http"))">
                    <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Title)</h4>
                </a>
                <h5 class="media-heading" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Author)</h5>
                <br />
                <p>
                    @item.Description.Substring(0, 200)...
                </p>
                <p>
                    Category:
                    @Html.ActionLink(item.Category.Title, "Category", "Book", new { id = item.Category.Id.ToString() }, new { @class = "" })
                </p>
                @if (Request.IsAuthenticated)
                {
                    if (item.FavouriteBook != null)
                    {
                        @Html.ActionLink("Dislike", "Delete", "FavouriteBook", new { id = item.FavouriteBook.Id.ToString(), redirectTo = "/Book/" }, new { id = item.FavouriteBook.Id, @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("Like!", "Add", "FavouriteBook", new { id = item.Id.ToString(), redirectTo = "/Book/" }, new { id = item.Id, @class = "btn btn-success" })
                    }
                }
                <ul class="list-inline list-unstyled">
                    <li><a href="@Html.DisplayFor(modelItem => item.Link)" class="btn btn-link">Download</a></li>
                    <li>|</li>
                    <li><span><i class="glyphicon glyphicon-calendar"></i> @item.CreationDate.ToShortDateString() </span></li>
                    <li>|</li>
                    <li><span><i class="glyphicon glyphicon-comment"></i> @item.CommentCount</span></li>
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrators") || User.IsInRole("Moderators")))
                    {
                        <li>|</li>
                        <li>@Html.ActionLink("Edit", "Edit", "Book", new { id = item.Id.ToString() }, new { @class = "" })</li>
                        <li>|</li>
                        <li>@Html.ActionLink("Delete", "Delete", "Book", new { id = item.Id.ToString() }, new { @class = "" })</li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <hr />
    }
}


@if (pageInfo != null)
{
    <br />
    <span>Page @(pageInfo.PageCount < pageInfo.PageNumber ? 0 : pageInfo.PageNumber) of @pageInfo.PageCount</span>

    @Html.PagedListPager(pageInfo, page => Url.Action("Index", new { page }))
}
