﻿@model BookLibrary.Models.Book

@{
    ViewBag.Title = Model.Title;
}

@Styles.Render("~/Content/css/fa")

<div style="margin-top: 25px;">
    <div class="row">
        <div class="media col-md-12">
            <a class="pull-left" href="#">
                <img width="200" height="300" class="media-object" src="@Url.Content(Model.Logo)">
            </a>
            <div class="media-body" style="padding-left: 10px;">
                <h4 class="media-heading">@Html.DisplayFor(modelItem => Model.Title)</h4>
                <h5 class="media-heading" style="font-weight: bold">@Html.DisplayFor(modelItem => Model.Author)</h5>
                <br />
                <p>
                    @Model.Description
                </p>
                <p>
                    Category:
                    @Html.ActionLink(Model.Category.Title, "Category", "Book", new { id = Model.Category.Id.ToString() }, new { @class = "" })
                </p>
                @if (Request.IsAuthenticated)
                {
                    if (Model.FavouriteBook != null)
                    {
                        @Html.ActionLink("Dislike", "Delete", "FavouriteBook", new { id = Model.FavouriteBook.Id.ToString(), redirectTo = "/Book/" }, new { id = Model.FavouriteBook.Id, @class = "btn btn-danger" })
                    }
                    else
                    {
                        @Html.ActionLink("Like!", "Add", "FavouriteBook", new { id = Model.Id.ToString(), redirectTo = "/Book/" }, new { id = Model.Id, @class = "btn btn-success" })
                    }
                }
                <ul class="list-inline list-unstyled">
                    <li><a href="@Html.DisplayFor(modelItem => Model.Link)" class="btn btn-link">Download</a></li>
                    <li>|</li>
                    <li><span><i class="glyphicon glyphicon-calendar"></i> @Model.CreationDate.ToShortDateString() </span></li>
                    <li>|</li>
                    <li><span><i class="glyphicon glyphicon-comment"></i> @Model.CommentCount</span></li>
                    @if (Request.IsAuthenticated && (User.IsInRole("Administrators") || User.IsInRole("Moderators")))
                    {
                        <li>|</li>
                        <li>@Html.ActionLink("Edit", "Edit", "Book", new { id = Model.Id.ToString() }, new { @class = "" })</li>
                        <li>|</li>
                        <li>@Html.ActionLink("Delete", "Delete", "Book", new { id = Model.Id.ToString() }, new { @class = "" })</li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<p style="margin-top: 15px;">
    @Html.ActionLink("Back to List", "Index")
</p>

@{
    var Comments = (IEnumerable<BookLibrary.Models.Comment>)ViewBag.Comments;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Comments</h3>
            <section class="comment-list" id="results">
                @foreach (var comment in Comments)
                {
                    @Html.Partial("_Comment", comment)
                }


            </section>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-md-5" style="">
                    <h4>Leave your comment</h4>
                    @using (Ajax.BeginForm("Create", "Comment", null, new AjaxOptions
                    {
                        UpdateTargetId = "results",
                        InsertionMode = InsertionMode.InsertAfter,
                        OnComplete = "resetForm()"
                    }, new { @id = "comment-form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("BookId", Model.Id)
                        @Html.TextArea("Text", new { @class = "form-control", @id = "comment-textarea", @style = "max-width: 100% !important;", @placeholder = "Enter your comment here... Minimum is 2 chars." })
                        <input type="submit" value="Post" id="comment-submit" class="btn btn-success" style="margin-top: 10px;" />
                    }
                </div>

                <script defer>
                    window.onload = function () {
                        $('#comment-textarea').keydown(function (e) {
                            if (e.ctrlKey && e.keyCode == 13) {
                                console.log("pressed");
                                $('#comment-form').trigger('submit');
                                $('#comment-textarea').val("");
                            }
                        })
                    };
                </script>
            }
        </div>
    </div>
</div>

<script>
    function resetForm() {
        $("#comment-form").trigger("reset");
        $('#comment-textarea').val("");
    }

    function remove(id) {
        $.ajax({
            url: "/Comment/Delete?id=" + id,
            type: "POST",
            success: function () {
                var comments = $(".comment");
                var ids = comments.find(".comment-id");

                for (var i = 0; i < ids.length; i++) {
                    if (ids[i].innerHTML == id) {
                        comments[i].remove();
                    }
                }
            }
        });

        
    }
</script>


