﻿@model IEnumerable<BookLibrary.Models.Book>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Books";
    var pageInfo = (PagedList.IPagedList)ViewBag.PageInfo;
}

@Styles.Render("~/Content/css/PagedList")

@Html.Partial("~/Views/Shared/_Search.cshtml", new BookLibrary.Models.Search())

<div class="container">
    <div class="col-md-9">
        <div>
            <h2 class="pull-left">Books @ViewBag.CurrentCategory</h2>
            <p class="pull-right">
                @if (Request.IsAuthenticated && (User.IsInRole("Administrators") || User.IsInRole("Moderators")))
                {
                    @Html.ActionLink("+", "Create", "Book", null, new { @class = "btn btn-success new" })
                }
            </p>
            <div class="clear"></div>
        </div>
        <hr />
        <div class="results" id="results">
            @Html.Partial("BookList", Model)
        </div>
    </div>
    <div class="col-md-3">
        <h3 class="text-center">Categories</h3>
        <ul class="nav nav-stacked">
            <li>@Html.ActionLink("All", "Index", "Book", null, new { @class = "btn btn-link" })</li>
            @foreach (var item in (IEnumerable<BookLibrary.Models.Category>)ViewBag.Categories)
            {
                <li>@Html.ActionLink(item.Title, "Category", "Book", new { id = item.Id }, new { @class = "btn btn-link" })</li>
            }
        </ul>
    </div>
</div>

