﻿@font-face {
    font-family: "Helvetica Neue";
    src: url('HelveticaNeue.ttf');
} 

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url(../Content/images/sdat-knigi.jpg);
    background-repeat: repeat;
}

footer {
    background-color: white;
    z-index: 999;
}

.search {
    /*margin-top: 10px;*/
}

.empty-75 {
    /*height: 75px !important;*/
}

.main-content {
    margin-top: 15px;
    margin-bottom: 70px;
}
.new {
    font-size: 30px;
    border-radius: 30px;
    padding: 2px 15px;
    margin-top: 15px;
    z-index: 998;
}

.edit {
    margin: 0 0 0 5px;
}

.delete {
    margin: 0 0 0 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.clear {
    clear: both;
}

.btn-info {
    margin-right: 15px;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    float: left;
}

    .btn-info a {
        display: block;
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: #fff;
    }

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }



.comment-list .row {
    margin-bottom: 0px;
}

.comment-list .panel .panel-heading {
    padding: 4px 15px;
    position: absolute;
    border: none;
    /*Panel-heading border radius*/
    border-top-right-radius: 0px;
    top: 1px;
}

    .comment-list .panel .panel-heading.right {
        border-right-width: 0px;
        /*Panel-heading border radius*/
        border-top-left-radius: 0px;
        right: 16px;
    }

    .comment-list .panel .panel-heading .panel-body {
        padding-top: 6px;
    }

.comment-list figcaption {
    /*For wrapping text in thumbnail*/
    word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
    .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }

    .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
    }
}

.comment-list .comment-post {
    margin-top: 6px;
}
