﻿
@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1>@@%$ Error ./&*</h1>
    <h2>Something went wrong.</h2>
    <p>@Html.ActionLink("Go Home", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</hgroup>

