﻿
@{
    ViewBag.Title = "404 - Not Found";
}

@Styles.Render("~/Content/css/404")
<h2>404 - Not Found</h2>

<div class="header">
    <h1>Fantasy error page</h1>
</div>
<div class="w3-main">
    <div class="agile-info">
        <h2>404</h2>
        <h3>SORRY</h3>
        <p>The Page You're Looking for Was Not Found.</p>
        <a href="@Url.Action("Index", "Book")"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Go Home</a>
    </div>
</div>