﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to ASP.NET test portal!</h1>
    <p class="lead">Test yourself</p>
    <p>@Html.ActionLink("To test list", "Index", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>