﻿@model IEnumerable<BookLibrary.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<div class="col-md-12">
    <div>
        <h2 class="pull-left">Categories</h2>
        <p class="pull-right">
            @if (Request.IsAuthenticated && (User.IsInRole("Administrators") || User.IsInRole("Moderators")))
            {
                @Html.ActionLink("+", "Create", "Category", null, new { @class = "btn btn-success new" })
            }
        </p>
        <div class="clear"></div>
    </div>
    <hr />

    @if (!Model.Any())
    {
        <article>
            <h3>Nothing here... :(</h3>
        </article>
    }
    @foreach (var item in Model)
    {
        <article>
            <div class="">
                <div class="">
                    @if (Request.IsAuthenticated && User.IsInRole("Administrators") || User.IsInRole("Moderators"))
                    {
                        <section class="pull-right">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id.ToString() }, new { @class = "btn btn-warning edit" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id.ToString() }, new { @class = "btn btn-danger delete" })
                        </section>
                    }
                    <div>
                        <h4>@Html.ActionLink(item.Title, "Category", "Book", new { id = item.Id.ToString() }, new { @class = "" })</h4>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </article>
        <hr />
    }
</div>

