﻿@model BookLibrary.Models.Account.ProfileVM

@{
    ViewBag.Title = "My Profile";
}

<div class="col-md-9">
    <h2>My Profile</h2>

    @if (User.IsInRole("Administrators"))
    {
        <p>
            @Html.ActionLink("Role Panel", "Index", "RoleAdmin", null, new { @class = "btn btn-default" })
        </p>
    }

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Edit Info", "EditProfile", "Account", null, new { @class = "btn btn-warning" })
        </p>
    </div>
    <hr />
</div>
<div class="container">
    <div class="col-md-9">
        <h3>Favourite Books:</h3>
        <br/><br/>

        @if (Model?.FavouriteBooks?.FirstOrDefault() == null)
        {
            <h3>Empty list</h3>
            <p>There is no books...</p>
        }

        @foreach (var item in Model.FavouriteBooks)
        {
            <div class="row">
                <div class="media col-md-12">
                    <a class="pull-left" href="@Url.Content(@Url.Action("Book", "Book", new { id = item.Book.Id}, "http"))">
                        <img width="200" height="300" class="media-object" src="@Url.Content(item.Book.Logo)">
                    </a>
                    <div class="media-body" style="padding-left: 10px;">
                        <a href="@Url.Content(@Url.Action("Book", "Book", new { id = item.Book.Id}, "http"))">
                            <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Book.Title)</h4>
                        </a>
                        <h5 class="media-heading" style="font-weight: bold">@Html.DisplayFor(modelItem => item.Book.Author)</h5>
                        <br />
                        <p>
                            @item.Book.Description.Substring(0, 200)...
                        </p>
                        <p>
                            Category:
                            @Html.ActionLink(item.Book.Category.Title, "Category", "Book", new { id = item.Book.Category.Id.ToString() }, new { @class = "" })
                        </p>
                        @if (Request.IsAuthenticated)
                        {
                            if (item != null)
                            {
                                @Html.ActionLink("Dislike", "Delete", "FavouriteBook", new { id = item.Id.ToString(), redirectTo = "/Book/" }, new { id = item.Id, @class = "btn btn-danger" })
                            }
                            else
                            {
                                @Html.ActionLink("Like!", "Add", "FavouriteBook", new { id = item.Id.ToString(), redirectTo = "/Book/" }, new { id = item.Id, @class = "btn btn-success" })
                            }
                        }
                        <ul class="list-inline list-unstyled">
                            <li><a href="@Html.DisplayFor(modelItem => item.Book.Link)" class="btn btn-link">Download</a></li>
                            <li>|</li>
                            <li><span><i class="glyphicon glyphicon-calendar"></i> @item.Book.CreationDate.ToShortDateString() </span></li>
                            @*<li>|</li>*@
                            @*<li><span><i class="glyphicon glyphicon-comment"></i> @item.Book.CommentCount</span></li>*@
                            @if (Request.IsAuthenticated && (User.IsInRole("Administrators") || User.IsInRole("Moderators")))
                            {
                                <li>|</li>
                                <li>@Html.ActionLink("Edit", "Edit", "Book", new { id = item.Book.Id.ToString() }, new { @class = "" })</li>
                                <li>|</li>
                                <li>@Html.ActionLink("Delete", "Delete", "Book", new { id = item.Book.Id.ToString() }, new { @class = "" })</li>
                            }
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <hr />
        }

    </div>
</div>
<p>

</p>
<p>
    @Html.ActionLink("Go Home", "Index", "Book", null, new { @class = "btn btn-default" })
</p>
