﻿@{
    ViewBag.Title = "Admin - Test List";
}

<br />
<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Users", "Users", "Admin", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
