﻿@using Identity.Models
@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "ASP.NET Identity";
}

<br />
<div class="row">
    <div class="col-md-4">
        <p>
            @Html.ActionLink("Roles", "Index", "RoleAdmin", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Users
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Email</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" class="text-center">User list is empty.</td>
            </tr>
        }
        else
        {
            foreach (ApplicationUser user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                </tr>
            }
        }
    </table>
</div>

